<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>세미 프로젝트 - index</title>
    <link rel="stylesheet" href="/web3comp/projectv3/css/bs5/bootstrap.min.css">
    <link rel="stylesheet" href="/web3comp/projectv3/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>세미 프로젝트 v3</h1>
        </header>
        <nav>
            <ul class="list-inline row text-center justify-content-evenly mt-5">
                <li class="col-2"><a href="/web3comp/projectv3/index.html">Home</a></li>
                <li class="col-2"><a href="/web3comp/projectv3/join.html">회원가입</a></li>
                <li class="col-2"><a href="/web3comp/projectv3/login.html">로그인</a></li>
                <li class="col-2"><a href="/web3comp/projectv3/board/list.html">게시판</a></li>
                <li class="col-2"><a href="/web3comp/projectv3/myinfo.html">회원정보</a></li>
            </ul>
            <hr>
        </nav>
        <main>
            <div class="text-center"><img src="img/desktop.jpg" alt="책상"></div>
        </main>
        <footer>
            <hr>
            <div class="text-center mb-3">copyright &copy; 2014. 2017. siestageek. All Rights Reserved.</div>
        </footer>
    </div>
</body>
</html>