{% extends 'base.html' %}

{% block main %}
<main>
    <h2>회원정보</h2>
    <div class="container w-25">
        <table class="table table-bordered mt-5">
            <tr>
                <th>아이디</th>
                <td>siestageek</td>
            </tr>
            <tr>
                <th>이름</th>
                <td>으하하하</td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>zzyzigy@naver.com</td>
            </tr>
            <tr>
                <th>가입일</th>
                <td>2014-05-01 12:01:33</td>
            </tr>
        </table>
    </div>
</main>
{% endblock %}