{% extends 'base.html' %}
{% block style %}
<style>
    table {table-layout:fixed;border-top-color:white!important;}
    th, td {text-align:center;}

    tr:first-child td {border:none;
        padding: 10px 0;}
    tr:first-child td:first-child {text-align: left}
    tr:first-child td:last-child {text-align: right}

    td:nth-child(2) {text-align: left;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

    .pagination a:link,
    .pagination a:visited {color:#7fa1d2;}
</style>
{% endblock %}

{% block main %}
<main>
    <h2>게시판 - 목록</h2>
    <table class="table table-bordered w-75 container mt-5">
        <colgroup><!-- table-fixed 속성이 설정된 경우, 각 컬럼에 대한 스타일 지정 -->
            <col style="width:10%">
            <col style="">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:10%">
        </colgroup>
        <tr>
            <td colspan="3" class="searchbox">
                <div class="row">
                    <div class="col-auto">
                        <select name="" id="" class="form-select">
                            <option value="">제목</option>
                            <option value="">본문</option>
                            <option value="">작성자</option>
                            <option value="">제목+본문</option>
                            <option value="">댓글내용</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="search" id="search" class="form-control">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-success text-white">검색하기</button>
                    </div>
                </div>
            </td>
            <td colspan="2"><a href="/board/write" class="btn btn-dark text-white">글쓰기</a></td>
        </tr>
        <tr><th>번호</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th></tr>
        <tr><td>1</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>2</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>3</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>4</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>5</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>6</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>7</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>8</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>9</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>10</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>11</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>11</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>12</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>13</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>14</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>15</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>16</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>17</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>18</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>19</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>20</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>21</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>22</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>23</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>24</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>25</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>26</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
        <tr><td>27</td><td><a href="/board/view">시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구!</a></td><td>siestageek</td><td>2024-01-22</td><td>987</td></tr>
    </table>
    <ul class="pagination justify-content-center m-4">
        <li class="page-item disabled"><a href="#" class="page-link">이전</a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">6</a></li>
        <li class="page-item"><a href="#" class="page-link">7</a></li>
        <li class="page-item"><a href="#" class="page-link">8</a></li>
        <li class="page-item"><a href="#" class="page-link">9</a></li>
        <li class="page-item"><a href="#" class="page-link">10</a></li>
        <li class="page-item"><a href="#" class="page-link">다음</a></li>
    </ul>
</main>
{% endblock %}